# General configs
DISCORD_TOKEN=
DISCORD_GUILD_ID=
LOG_LEVEL=info
BOT_OWNER_ID=

# Moderation & Audit log configs
MODERATION_MODERATOR_ROLE_NAME=Moderator
MODERATION_MODERATOR_ROLE_ID=
MODERATION_ADMIN_ROLE_NAME=Administrator
MODERATION_ADMIN_ROLE_ID=
MODERATION_AUDIT_CHANNEL_ID=

# Verification configs
VERIFICATION_CHANNEL_ID=
VERIFICATION_CHANNELS_ALLOWED=screenshots,panoramas
VERIFIER_ROLE_ID=
VERIFIER_ROLE_NAME=verifier
LEGACY_CSG_ROLE_ID=
ASG_ROLE_ID=
DSG_ROLE_ID=

# Template detection configs
ISSUE_REPORTING_CHANNEL_ID=
SUGGESTIONS_CHANNEL_ID=
TEMPLATE_INVALID_TAGS=invalid,needs template,template missing

# Ticket system configs
TICKET_INACTIVITY_HOURS=24