# General configs
DISCORD_TOKEN=
DISCORD_GUILD_ID=
LOG_LEVEL=info
BOT_OWNER_ID=

# Audit log configs
MODERATION_MODERATOR_ROLE_NAME=Moderator
MODERATION_MODERATOR_ROLE_ID=
MODERATION_ADMIN_ROLE_ID=Admin
MODERATION_ADMIN_ROLE_NAME=

# Template detection configs
ISSUE_REPORTING_CHANNEL_ID=
SUGGESTIONS_CHANNEL_ID=